html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 10px;
	padding: 0px;
}

.alignleft {
	float: left;
  font-weight: bold;
}
.alignright {
	float: right;
  font-weight: bold;
}

.select_option{
	position: relative;
	width:100%;
	font-size:15px;
	border: none;
	border-radius: 5px;
	color: #fff;
	background: #5b5b5b;
	font-style:bold;
	outline:none;
	margin-bottom:5px;
	display: inline;
}

.border_box{
	background-color:rgba(225, 225, 225, .7);
	width:100%;
	display: inline-block;
	position: absolute;
	margin:0px;
	padding:15px;
	color: #000;
	border-radius: 15px;
}

h1 {
	font-size:25px;
	line-height:25px;
	font-weight:bold;
	margin-bottom: 15px;
}

h2 {
	font-size:14px;
	line-height:18px;
	display: inline-block;
	margin-bottom: 8px;
}

h4 {
	font-size:12px;
	font-style: italic;
	line-height:13px;
}


p{
	line-height: 18px;
	font-size: 12px;
}



.description{
	display:none;
}

.byline{
	display:none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and ( min-width: 500px ) {

	body {
		margin: 0px;
		padding: 0px;
	}

	.border_box{
		background-color:rgba(225, 225, 225, .7);
		width:300px;
		display: inline-block;
		position: absolute;
		margin:20px;
		padding:15px;
		color: #000;

	}

	.description{
		margin-top: 20px;
		display: block;
	}

	.byline{
		margin-top: 15px;
		display: block;
	}

	.column {
		float: none;
		width: 100%
	}

	h1 {
		font-size:25px;
		line-height:25px;
		font-weight:bold;
		margin-bottom: 0px;
	}

}
