html {
	font-family: sans-serif;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust:     100%;
}

body {
	margin: 10px;
	padding: 0px;
}

.alignleft {
	float: left;
  font-weight: bold;
}
.alignright {
	float: right;
  font-weight: bold;
}

.select_option{
	position: relative;
	width:100%;
	font-size:15px;
	padding: 3px;
	padding-left: 29px;
	border-radius: 7px;
	border: 2px solid #ccc;
	color: #000;
	background: rgba(0,0,0,0.3);
	font-style:bold;
	outline:none;
	margin-bottom:5px;
	display: inline;
	-webkit-appearance: none;
		 -moz-appearance: none;
					appearance: none;
	background: url('arrow.png')  no-repeat;
	background-position: 5px 4px;
}

.border_box{
	background-color:rgba(225, 225, 225, .7);
	width:95%;
	display: inline-block;
	position: absolute;
	margin:0px;
	padding:15px;
	color: #000;
	border-radius: 15px;
}

h1 {
	color:#4f4f4f;
	font-size:30px;
	line-height:30px;
	font-weight:bold;
	margin-bottom: 15px;
}

h2 {
	color:#4f4f4f;
	font-size:14px;
	line-height:18px;
	display: inline-block;
	margin-bottom: 8px;
}

h4 {
	color:#4f4f4f;
	font-size:12px;
	font-style: italic;
	line-height:13px;
}


p{
	color:#4f4f4f;
	line-height: 18px;
	font-size: 12px;
}



.description{
	display:none;
}

.byline{
	display:none;
}

.column {
    float: left;
    width: 33.33%;
    padding: 3px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}


@media screen and ( min-width: 500px ) {

	body {
		margin: 0px;
		padding: 0px;
	}

	.border_box{
		background-color:rgba(225, 225, 225, .7);
		width:300px;
		display: inline-block;
		position: absolute;
		margin:20px;
		padding:15px;
		color: #000;

	}

	.description{
		margin-top: 20px;
		display: block;
	}

	.byline{
		margin-top: 15px;
		display: block;
	}

	.column {
		float: none;
		width: 100%
	}

	h1 {
		font-size:27px;
		line-height:30px;
		font-weight:bold;
		margin-bottom: 0px;
	}

}
